.box {
    margin: 150px auto;
    width: 35rem;
    padding: 25px;
    background-color: rgb(32, 2, 88);
    border-radius: 20px;
  }
  .box h1 {
    color: white;
    text-align: center;
  }

  .label {
    color: white;
  }

  .navlink {
    color: white; 
    padding-top: 1rem; 
  }